@each $colorType in ("yellow", "gray", "red", "orange", "green", "blue") {

    .variant-contained-#{$colorType} {
        --button-default-background-color: rgb(var(--color-#{$colorType}-3));
        --button-hover-background-color: rgb(var(--color-#{$colorType}-4));
        --button-active-background-color: rgb(var(--color-#{$colorType}-5));
        --button-default-text-color: rgb(var(--color-#{$colorType}-text));
        --button-hover-text-color: rgb(var(--color-#{$colorType}-text));
        --button-active-text-color: rgb(var(--color-#{$colorType}-text));
        --button-focus-visible-border-color: rgb(var(--color-#{$colorType}-5));
    }

    .variant-outlined-#{$colorType} {
        --button-default-background-color: rgb(var(--color-gray-0));
        --button-hover-background-color: rgb(var(--color-#{$colorType}-1));
        --button-active-background-color: rgb(var(--color-#{$colorType}-2));
        --button-default-border-color: rgb(var(--color-#{$colorType}-5));
        --button-default-text-color: rgb(var(--color-neutral-1));
        --button-hover-text-color: rgb(var(--color-neutral-1));
        --button-active-text-color: rgb(var(--color-neutral-1));
        --button-focus-visible-border-color: rgb(var(--color-#{$colorType}-3));
    }

    .variant-text-#{$colorType} {
        --button-default-background-color: rgb(var(--color-gray-0));
        --button-hover-background-color: rgb(var(--color-#{$colorType}-1));
        --button-active-background-color: rgb(var(--color-#{$colorType}-2));
        --button-default-text-color: rgb(var(--color-#{$colorType}-2));
        --button-hover-text-color: rgb(var(--color-#{$colorType}-5));
        --button-active-text-color: rgb(var(--color-#{$colorType}-5));
        --button-focus-visible-border-color: rgb(var(--color-#{$colorType}-5));
    }

    .variant-ghost-#{$colorType} {
        --button-default-background-color: transparent;
        --button-hover-background-color: transparent;
        --button-active-background-color: rgb(var(--color-#{$colorType}-2));
        --button-default-text-color: rgb(var(--color-#{$colorType}-4));
        --button-hover-text-color: rgb(var(--color-#{$colorType}-5));
        --button-active-text-color: rgb(var(--color-#{$colorType}-5));
        --button-focus-visible-border-color: rgb(var(--color-#{$colorType}-5));
    }
}