.ll-select {
    .selection {
        width: fit-content;
        cursor: default;
        user-select: none;
        display: flex;
        align-items: center;

        .arrow {
            display: flex;
            align-items: center;
        }
    }
}

.ll-select-dialog {
    outline: none;
    height: 100%;
    pointer-events: none;

    .box {
        pointer-events: all;
        border-radius: var(--border-radius-md);
        outline: 0;
        position: relative;
        max-height: 100%;
        overflow: auto;
        display: flex;
        flex-direction: column;
    }

    .search-container {
        padding: var(--space-4);
    }

    .option {
        padding: .5rem .5rem;
        text-align: left;
        outline: 0;

        &:hover {
            background-color: var(--background-light);
        }

        &.active {
            background-color: var(--background-weak);
        }

        &.selected {
            background-color: var(--background-strong);
            font-weight: bold;
        }
    }
}