.ll-select {
    .selection {
        width: fit-content;
        cursor: pointer;
        user-select: none;
        display: flex;
        align-items: center;

        .arrow {
            display: flex;
            align-items: center;
        }
    }
}

.ll-select-dialog {
    outline: none;
    overflow: auto;

    .search-container {
        padding: 8px;
    }

    .option {
        display: block;
        width: 100%;
    }
}