@keyframes ripple {
    to {
        transform: scale(4);
        opacity: 0;
    }
}

@keyframes marker-active {
    50% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(0);
    }
}