html {
    font-size: #{$root-default-font-size}px;
}

body {
    font-size: pixel-to-rem($base-font-size);
    line-height: 1.5;
    font-family: 'sans-serif';
}



@each $tag,
$size in $title-sizes {

    #{$tag},
    .#{$tag} {
        display: block;
        margin: 0;
        font-size: pixel-to-rem($size);
    }
}



a {
    color: var(--color-primary-800);
    text-decoration: underline;
    text-decoration-color: var(--color-primary-500);
    text-decoration-thickness: 1px;
    transition: text-decoration-color .3s ease;

    &:visited {
        color: var(--color-primary-1000);

    }

    &:hover {
        text-decoration-color: var(--color-primary-600);
        text-decoration-thickness: 2px;
    }

    &:focus-visible {
        outline: 2px solid var(--color-primary-1000);
        border-radius: var(--border-radius-sm);
    }

    &:active {
        color: var(--text-weak);
    }
}


a.ghost {
    color: var(--text-default);

    &,
    &:hover {
        text-decoration: none;
    }
}

mark {
    background-color: var(--color-primary-100);
    color: var(--text-strong);
}

.text-hint {
    color: var(--text-hint);
    font-size: .9rem;
}