.ll-dialog {
    $padding: 1rem;
    position: relative;

    .box {
        background-color: white;
        pointer-events: auto;

        border-radius: var(--border-radius-sm);
        box-shadow: var(--shadow);
        position: relative;
        z-index: 2;
    }

    .bar-buttons {
        padding: .75rem;
        float: right;
    }

    .header {
        display: flex;
        align-items: center;
        padding: $padding $padding 0;


    }

    .description {
        padding: $padding;

        &.scrollable {
            padding: $padding 0;

            .scroll-inner {
                padding: 0 $padding;
            }
        }
    }

    .footer {
        position: relative;
        z-index: 4;
        padding: 0 $padding $padding;

        .actions {
            display: flex;
            justify-content: space-between
        }
    }

    .arrow {
        display: block;
        width: 12px;
        height: 12px;
        transform: rotate(45deg);
        position: absolute;
        pointer-events: none;
    }

    .arrow-bg {
        background-color: white;
        z-index: 3;
    }

    .arrow-shadow {
        box-shadow: var(--shadow);
        z-index: 1;
    }

    @each $colorType in (success, info, warning, danger, primary, weak) {
        &.type-#{$colorType} {
            .box {
                border-color: var(--color-#{$colorType}-300);
                border-style: solid;
            }
        }
    }

    &[data-status='initial'],
    &[data-status='close'] {
        opacity: 0;
        transform: scale(.9);

        &.ll-select-dialog {
            transform: none;
        }

        &.ll-autocomplete-dialog {
            transform: none;
        }
    }

    &[data-status='open'],
    &[data-status='close'] {
        transition: opacity 250ms ease, transform 250ms ease;
    }

    &[class*="placement\-top"] {
        .box {
            border-top-width: 4px;
        }

        .arrow {
            border-bottom-right-radius: 3px;
        }

        // &.maplibregl-popup .arrow {
        //     margin-top: -6px;
        // }

        &[data-status='open'],
        &[data-status='close'] {
            transform-origin: bottom center;
        }
    }


    &[class*="placement\-bottom"] {
        .box {
            border-bottom-width: 4px;
        }

        .arrow {
            border-top-left-radius: 3px;
        }

        // &.maplibregl-popup .arrow {
        //     margin-bottom: -6px;
        // }

        &[data-status='open'],
        &[data-status='close'] {
            transform-origin: top center;
        }
    }

    &[class*="placement\-left"] {
        .box {
            border-left-width: 4px;
        }

        .arrow {
            border-top-right-radius: 3px;
        }

        // &.maplibregl-popup .arrow {
        //     margin-top: -6px;
        // }

        &[data-status='open'],
        &[data-status='close'] {
            transform-origin: center right;
        }
    }

    &[class*="placement\-right"] {
        .box {
            border-right-width: 4px;
        }

        .arrow {
            border-bottom-left-radius: 3px;
        }

        // &.maplibregl-popup .arrow {
        //     margin-right: -6px;
        // }

        &[data-status='open'],
        &[data-status='close'] {
            transform-origin: center left;
        }
    }




    .option {
        padding: .5rem .5rem;
        text-align: left;
        outline: 0;
        transition: all .3s ease;
        position: relative;
        z-index: 1;

        &:hover {
            background-color: var(--background-light);
        }

        &.active {
            background-color: var(--background-weak);
        }

        &.selected,
        &:focus {
            background-color: var(--background-strong);
            color: var(--text-strong);
        }

        &[disabled] {
            color: var(--text-disabled);
            pointer-events: none;
        }

    }


}

.ll-portail-dialog {
    outline: none;
    height: 100%;
    pointer-events: none;

    .box {
        pointer-events: all;
        border-radius: var(--border-radius-md);
        outline: 0;
        position: relative;
        max-height: 100%;
        overflow: auto;
        display: flex;
        flex-direction: column;
    }
}