.ll-code {
    border: 1px solid rgb(var(--color-gray-3));
    background-color: rgb(var(--color-gray-2));
    padding: 0 .25rem;
    border-radius: var(--border-radius);
    line-height: calc(1.5rem - 1px);
    margin: 1px;
}