.ll-code {
    border: 1px solid var(--border-default);
    background-color: var(--background-gray);
    padding: 0 .25rem;
    border-radius: var(--border-radius-sm);
    line-height: calc(1.5rem - 1px);
    margin: 1px;
}