html,
body,
#root,
#map {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.sidebar {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: .5rem;
    z-index: 1;
    pointer-events: none;

    &>* {
        pointer-events: all;
    }
}

.ll-layer-switcher {
    flex-wrap: wrap;
}


.maplibregl-ctrl-bottom-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 10px 10px 10px;

    .maplibregl-ctrl-bottom-left {
        bottom: 100%;
        left: 0;
    }

    .maplibregl-ctrl-bottom-right {
        right: 0;
        bottom: 100%;
    }
}