.ll-button {
    display: inline-block;
    border-radius: var(--border-radius-md);
    border: 0;
    outline: none;
    cursor: pointer;
    background-color: var(--button-default-background-color);
    color: var(--button-default-text-color);
    transition: all .3s ease, outline 0s;
    position: relative;
    overflow: clip;
    overflow-clip-margin: 1px;

    &:not(.shape-underline) {
        padding: .5rem 1rem;

        &.size-small {
            padding: .125rem .5rem;
        }

        &.size-large {
            padding: 1rem 2rem;
        }

        &:focus {
            &.shape-solid {
                box-shadow: var(--shadow-md);
            }
        }

        &:hover {
            background-color: var(--button-hover-background-color);
            box-shadow: var(--shadow-light);

            &.shape-solid {
                box-shadow: var(--shadow-md);
            }
        }

        &:active,
        &.selected {
            box-shadow: var(--shadow-light-md);
            background-color: var(--button-active-background-color);

            &.shape-solid {
                box-shadow: var(--shadow-lg);
            }
        }
    }

    &,
    &:hover,
    &:focus,
    &:focus-within,
    &:active {
        text-decoration: none;
    }


    &:hover {
        color: var(--button-hover-text-color);
    }

    &:active,
    &.selected {
        color: var(--button-active-text-color);
    }

    /* for .shape-underline : libs/styles/base/_typography.scss
       same style as <a> tag
    */
    &.shape-underline {
        box-shadow: inset 0 -2px 0 var(--button-default-border-color);
        border-radius: 0;
        transition: box-shadow .05s ease, color .05s ease;

        &:hover {
            box-shadow: inset 0 -2px 0 var(--button-hover-border-color);
        }
    }

    &.shape-solid {
        box-shadow: var(--shadow);
    }

    &.shape-outline {
        outline: 1px solid var(--button-focus-visible-border-color);
    }

    &:focus-visible {
        outline: 2px solid var(--button-focus-visible-border-color);
    }

    &.not-cliquable {
        pointer-events: none;
        color: var(--text-weak, inherit);

        &[disabled] {
            opacity: .5;
        }
    }

    &.icon {
        width: 2rem;
        height: 2rem;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        &,
        &:hover,
        &:focus,
        &:focus-within,
        &:active {
            color: var(--text-default);
        }

        &.shape-underline {
            color: var(--text-hint);

            &:hover,
            &:focus,
            &:focus-within,
            &:active {
                color: var(--text-default);
            }
        }
    }
}