.button {
    display: inline-block;
    border-radius: var(--border-radius-md);
    border: 1px solid var(--button-default-border-color, transparent);
    outline: none;
    cursor: pointer;
    background-color: var(--button-default-background-color);
    color: var(--button-default-text-color);
    transition: all .3s ease, outline 0s;
    position: relative;
    overflow: clip;
    overflow-clip-margin: 1px;

    &:not(.shape-underline) {
        padding: .5rem 1rem;

        &.size-small {
            padding: .125rem .5rem;
        }

        &.size-large {
            padding: 1rem 2rem;
        }

        &,
        &:hover,
        &:focus,
        &:focus-within,
        &:active {
            text-decoration: none;
        }

        &:focus {
            border-color: var(--button-focus-border-color);

            &.shape-solid {
                box-shadow: var(--shadow-md);
            }
        }

        &:hover {
            background-color: var(--button-hover-background-color);
            color: var(--button-hover-text-color);
            box-shadow: var(--shadow-light);

            &.shape-solid {
                box-shadow: var(--shadow-md);
            }
        }

        &:active {
            color: var(--button-active-text-color);

            box-shadow: var(--shadow-light-md);

            &.shape-solid {
                box-shadow: var(--shadow-lg);
            }
        }
    }

    /* for .shape-underline : libs/styles/base/_typography.scss
       same style as <a> tag
    */

    &.shape-solid {
        box-shadow: var(--shadow);
    }

    &.not-cliquable {
        pointer-events: none;
        color: var(--text-weak, inherit);

        &[disabled] {
            opacity: .5;
        }
    }

    @each $colorType in (primary, weak, danger, warning, success, info) {

        &.button-solid-#{$colorType} {
            $solid-text-color: --text-invert;

            @if $colorType==primary or $colorType==weak {
                $solid-text-color: --text-default;
            }

            --button-default-background-color: var(--color-#{$colorType}-500);
            --button-hover-background-color: var(--color-#{$colorType}-600);
            --button-active-background-color: var(--color-#{$colorType}-700);
            --button-default-text-color: var(#{$solid-text-color});
            --button-hover-text-color: var(#{$solid-text-color});
            --button-active-text-color: var(#{$solid-text-color});
            --button-focus-border-color: transparent;
        }

        &.button-outline-#{$colorType} {
            $outline-text-color: var(--color-#{$colorType}-700);

            @if $colorType==primary or $colorType==weak {
                $outline-text-color: var(--text-default);
            }

            --button-default-background-color: var(--background-default);
            --button-hover-background-color: var(--color-#{$colorType}-100);
            --button-active-background-color: var(--color-#{$colorType}-200);
            --button-default-border-color: var(--color-#{$colorType}-500);
            --button-default-text-color: #{$outline-text-color};
            --button-hover-text-color: #{$outline-text-color};
            --button-active-text-color: #{$outline-text-color};
            --button-focus-border-color: var(--color-#{$colorType}-900);
        }

        &.button-ghost-#{$colorType} {
            $ghost-text-color: var(--color-#{$colorType}-700);

            --button-default-background-color: var(--background-default);
            --button-hover-background-color: var(--color-#{$colorType}-100);
            --button-active-background-color: var(--color-#{$colorType}-200);
            --button-default-text-color: #{$ghost-text-color};
            --button-hover-text-color: #{$ghost-text-color};
            --button-active-text-color: #{$ghost-text-color};
            --button-focus-border-color: transparent;
        }

        &.button-underline-#{$colorType} {
            $underline-text-color: var(--color-#{$colorType}-700);

            --button-default-background-color: var(--background-default);
            --button-hover-background-color: var(--color-#{$colorType}-100);
            --button-active-background-color: var(--color-#{$colorType}-200);
            --button-default-text-color: #{$underline-text-color};
            --button-hover-text-color: #{$underline-text-color};
            --button-active-text-color: #{$underline-text-color};
            --button-focus-border-color: var(--color-#{$colorType}-500);
        }
    }
}