.maplibregl-user-location-dot,
.maplibregl-user-location-dot:before {
    background-color: #1da1f2;
    border-radius: 50%;
    height: 15px;
    width: 15px
}

.maplibregl-user-location-dot:before {
    animation: maplibregl-user-location-dot-pulse 2s infinite;
    content: "";
    position: absolute
}

.maplibregl-user-location-dot:after {
    border: 2px solid #fff;
    border-radius: 50%;
    box-shadow: 0 0 3px rgba(0, 0, 0, .35);
    box-sizing: border-box;
    content: "";
    height: 19px;
    left: -2px;
    position: absolute;
    top: -2px;
    width: 19px
}

@keyframes maplibregl-user-location-dot-pulse {
    0% {
        opacity: 1;
        transform: scale(1)
    }

    70% {
        opacity: 0;
        transform: scale(3)
    }

    to {
        opacity: 0;
        transform: scale(1)
    }
}

.maplibregl-user-location-dot-stale {
    background-color: #aaa
}

.maplibregl-user-location-dot-stale:after {
    display: none
}

.maplibregl-user-location-accuracy-circle {
    background-color: #1da1f233;
    border-radius: 100%;
    height: 1px;
    width: 1px
}