.ll-input,
.ll-select .selection {
    border-radius: var(--border-radius-md);
    transition: all .3s ease;
    transition: outline-width 0s ease;
    outline: solid 1px var(--color-weak-100);
    display: flex;


    &:hover {
        outline-color: var(--color-weak-400);
    }

    &:focus-within,
    &.focus {
        box-shadow: var(--ring-shadow-light);
        outline-color: var(--color-primary-600);
        outline-width: 2px;
    }

    &.warning {
        outline-color: var(--color-warning-600);
    }

    &.error {
        outline-color: var(--color-danger-600);
    }

    &.disabled {
        pointer-events: none;
        color: var(--text-weak, inherit);
        opacity: .5;
    }

    .input-element {
        padding: .5rem .5rem;
        flex: 1;
        appearance: none;
        outline: none;
        filter: none; // Firefox autofill color
        border: 0;
        background: none;
    }

    .adornment {
        color: var(--color-weak-600);
        position: relative;
    }

    .ll-button {
        margin: 1px;
    }

    .ll-loader {
        position: absolute;
    }

    .prefix .ll-loader {
        left: 2px;
    }

    .suffix .ll-loader {
        right: 2px;
    }
}