.ll-input,
.ll-textarea,
.ll-select .selection {
    border-radius: var(--border-radius-2xl);
    transition: all .3s ease;
    transition: outline-width 0s ease;
    outline: solid 1px transparent;
    display: flex;

    &.variant-normal {
        outline-color: rgb(var(--color-gray-1));
    }

    &:hover {
        outline-color: var(--color-gray-1);
    }

    &:focus-within,
    &.focus {
        outline-color: rgb(var(--color-yellow-4));
        outline-width: 2px;
    }

    &.orange {
        outline-color: rgb(var(--color-orange-4));
    }

    &.error {
        outline-color: rgb(var(--color-red-4));
    }

    &.disabled {
        pointer-events: none;
        color: var(--text-gray, inherit);
        opacity: .5;
    }
}

.ll-textarea {
    &:read-only {
        background-color: rgb(var(--color-gray-1));
    }
}

.ll-input,
.ll-select .selection {

    .input-element {
        padding: .5rem .5rem;
        flex: 1;
        appearance: none;
        outline: none;
        filter: none; // Firefox autofill color
        border: 0;
        background: none;
        min-width: 0;
        line-height: 1.25rem;
    }

    .adornment+.input-element {
        padding-left: 2px;
    }

    .adornment {
        color: var(--color-gray-2);
        position: relative;

        &>[class^="fe-"] {
            margin: 0 .5rem;
        }

        svg {
            pointer-events: none;
        }
    }

    .ll-button {
        margin: 1px;
    }

    .ll-loader {
        position: absolute;
    }

    .prefix .ll-loader {
        left: 2px;
    }

    .suffix .ll-loader {
        right: 2px;
    }
}