.ll-dialog[data-placement^="top"] {
  @apply origin-bottom;
  /* border-top-width: 4px; */

  & .arrow {
    @apply w-0 h-0 absolute border-x-8 border-t-8 border-x-transparent border-t-gray-0 top-full;
    clip: rect(0px, 16px, 12px, 0px);
    filter: drop-shadow(0 1px 3px #c9c9c9);
  }
}

.ll-dialog[data-placement="top-start"] {
  @apply origin-bottom-left;
}

.ll-dialog[data-placement="top-end"] {
  @apply origin-bottom-right;
}

.ll-dialog[data-placement^="bottom"] {
  @apply origin-top;
  /* border-bottom-width: 4px; */

  & .arrow {
    @apply w-0 h-0 absolute border-x-8 border-b-8 border-x-transparent border-b-gray-0 bottom-full;
    clip: rect(-4px, 16px, 8px, 0px);
    filter: drop-shadow(0 1px 3px #c9c9c9);
  }
}

.ll-dialog[data-placement="bottom-start"] {
  @apply origin-top-left;
}

.ll-dialog[data-placement="bottom-end"] {
  @apply origin-top-right;
}

.ll-dialog[data-placement^="left"] {
  @apply origin-right;
  /* border-left-width: 4px; */

  & .arrow {
    @apply w-0 h-0 absolute border-y-8 border-l-8 border-y-transparent border-l-gray-0 left-full;
    clip: rect(0px, 12px, 16px, 0px);
    filter: drop-shadow(0 1px 3px #c9c9c9);
  }
}

.ll-dialog[data-placement="left-start"] {
  @apply origin-top-right;
}

.ll-dialog[data-placement="left-end"] {
  @apply origin-bottom-right;
}

.ll-dialog[data-placement^="right"] {
  /* border-right-width: 4px; */
  @apply origin-left;

  & .arrow {
    @apply w-0 h-0 absolute border-y-8 border-r-8 border-y-transparent border-r-gray-0 right-full;
    clip: rect(0px, 8px, 16px, -4px);
    filter: drop-shadow(0 1px 3px #c9c9c9);
  }
}

.ll-dialog[data-placement="right-start"] {
  @apply origin-top-left;
}

.ll-dialog[data-placement="right-end"] {
  @apply origin-bottom-left;
}
