.ll-marker {
    --marker-size: 50px;
    --marker-height: var(--marker-size);
    --marker-width: calc(var(--marker-size) * 0.7);
    --marker-background-position-hovered: calc(var(--marker-size)* -.3);

    --marker-color: var(--color-primary-500);
    --marker-color-dark: color-mix(in srgb, var(--marker-color), black 40%);
    --ovale-color-hover: color-mix(in srgb, var(--marker-color), white 50%);
    --ovale-color-active: color-mix(in srgb, var(--marker-color), white 1%);
    --marker-color-gradient: linear-gradient(120deg, var(--marker-color), var(--marker-color-dark));

    cursor: pointer;



    position: absolute;
    display: block;

    top: 0;
    left: 0;

    &,
    &>.marker,
    &>.image {
        width: var(--marker-width);
        height: var(--marker-height);
    }

    &>.marker,
    &>.image {
        transition: transform 0.2s ease;
    }

    .target {
        width: calc(var(--marker-width) * .2);
        height: calc(var(--marker-width) * .1);
        background-color: var(--color-grey-600);
        position: absolute;
        left: calc(50% - var(--marker-width) * .1);
        top: calc(100% - var(--marker-width) * .05);
        border-radius: 50%;
        transition: transform 0.3s ease;

        opacity: 0;
        transform: scale(.5);

        transition: transform 0.2s ease, opacity .2s ease;

        box-shadow: 0px 0px 2px #000;
    }

    &.geolocation .target {
        animation: geolocation-dot-pulse 2s infinite;
    }

    &.draggable:active,
    &.draggable.active {

        &>.marker {
            transform: translateY(-5px);
        }

        .target {
            opacity: .5;
            transform: scale(1);
        }
    }



    &>.marker::before,
    &>.marker::after {
        position: absolute;
        top: 0;
    }

    /* shadow */
    &>.marker::before {
        left: 50%;
        transform: translateX(-50%);

        content: '';
        background-image: url(./marker-shadow-centered.png);
        background-size: cover;
        pointer-events: none;
        width: var(--marker-size);
        height: var(--marker-size);
    }

    /* marker */
    &>.marker::after {
        /* fe-marker */
        left: 0;
        content: '\e81c';
        z-index: 1;

        color: transparent;

        /* legacy browser support */
        background-color: var(--marker-color);
        -webkit-background-clip: text;

        background-image: var(--marker-color-gradient);
        background-clip: text;

        background-size: var(--marker-height) var(--marker-height);
        background-position: var(--marker-background-position-hovered);
        width: var(--marker-width);
        height: var(--marker-height);
    }



    /* fontello default */
    &>.marker::after,
    .inactive {
        font-family: "fontello-geo", sans-serif;
    }

    i::before {
        font-family: "fontello", sans-serif;
    }

    &>.marker::after,
    .inactive,
    i::before {
        font-style: normal;
        font-weight: normal;

        /* For safety - reset parent styles, that can break glyph codes*/
        font-variant: normal;
        // text-transform: none;
        margin: 0;
        display: inline-block;
        text-decoration: inherit;
        /* fix buttons height, for twitter bootstrap */
        line-height: 1em;
        /* Animation center compensation - margins should be symmetric */
        /* remove if not needed */
        /* you can be more comfortable with increased icons size */
        font-size: var(--marker-size) !important;
        /* Font smoothing. That was taken from TWBS */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        transition: color .3s ease;
    }

    &>.marker::after {
        transition: background-position .3s ease;
    }

    .ovale,
    .inactive,
    i,
    .text {
        position: absolute;
        left: calc(var(--marker-size) / 10);
        top: calc(var(--marker-size) / 10);
        width: calc(var(--marker-size) / 2) !important;
        height: calc(var(--marker-size) / 2) !important;
    }

    .ovale {
        z-index: 2;
        border-radius: 50%;
        background-color: white;
        transition: background-color .3s ease;
    }

    /* icon */
    i {
        display: flex;
        align-items: center;
        justify-content: center;

        &::before {
            font-size: calc(var(--marker-size) / 3) !important;
            z-index: 3;
            color: var(--text-default);
        }
    }

    .text {
        z-index: 3;
        font-weight: 500;
        font-size: max(10px, calc(var(--marker-size) * .25));
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &.small-text {
        .text {
            font-size: 10px;
        }
    }


    .inactive {
        display: flex;
        align-items: center;
        justify-content: center;


        &::before {
            z-index: 4;
            font-size: calc(var(--marker-size) / 2) !important;
            content: '\e81f';
            color: var(--color-danger-500);
        }
    }

    &:hover>* {

        /* marker */
        &::after {
            background-position: 0px;
        }

        .ovale {
            background-color: var(--ovale-color-hover);
        }
    }

    &:not(.draggable):active,
    &:not(.draggable).active {

        .ovale {
            background-color: var(--ovale-color-active);
        }
    }


    &.selected>* {

        /* marker */
        &::after {
            background-position: 0px;
        }

    }

    &.disabled.disabled {
        opacity: 1;
        pointer-events: none;
        user-select: none;

        /* marker */
        &>.marker::after {
            /* fe-marker */
            content: '\e81c';
            color: var(--color-weak-200);
        }
    }

    &.pegman {
        --marker-size: 60px;
        --marker-height: var(--marker-size);
        --marker-width: var(--marker-size);

        .image {

            &::before {
                content: "";
                position: absolute;
                top: -25%;
                transform: translateX(-50%);
                left: 50%;

                content: '';
                background-image: url(./marker-shadow-centered.png);
                background-size: cover;
                pointer-events: none;
                width: var(--marker-size);
                height: var(--marker-size);
                z-index: -1;
            }

            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: var(--marker-size);
                height: var(--marker-size);
                background-image: url(../assets/pegman/pegman-rotation-1x.png);
                background-position: 0px 0px;

            }
        }

        .target {
            top: calc(75% - var(--marker-width) * 0.05);
        }

        &:hover,
        &.hover {

            &>.image {
                transform: translateY(-2.5px);
            }

            .target {
                opacity: .25;
                transform: scale(.5);
            }
        }

        &:active,
        &.active {

            &>.image {
                transform: translateY(-5px);
            }

            .target {
                opacity: .5;
                transform: scale(1);
            }
        }

        &.zone-0 .image::after {
            background-position: 0px 0px;
        }

        &.zone-1 .image::after {
            background-position: 0px 60px;
        }

        &.zone-2 .image::after {
            background-position: 0px 120px;
        }

        &.zone-3 .image::after {
            background-position: 0px 180px;
        }

        &.zone-4 .image::after {
            background-position: 0px 240px;
        }

        &.zone-5 .image::after {
            background-position: 0px 300px;
        }

        &.zone-6 .image::after {
            background-position: 0px 360px;
        }

        &.zone-7 .image::after {
            background-position: 0px 420px;
        }

        &.zone-8 .image::after {
            background-position: 0px 480px;
        }

        &.zone-9 .image::after {
            background-position: 0px 540px;
        }

        &.zone-10 .image::after {
            background-position: 0px 600px;
        }

        &.zone-11 .image::after {
            background-position: 0px 660px;
        }

        &.zone-12 .image::after {
            background-position: 0px 720px;
        }

        &.zone-13 .image::after {
            background-position: 0px 780px;
        }

        &.zone-14 .image::after {
            background-position: 0px 840px;
        }

        &.zone-15 .image::after {
            background-position: 0px 900px;
        }

    }
}

@keyframes geolocation-dot-pulse {
    0% {
        opacity: 1;
        transform: scale(1);
    }

    70% {
        opacity: 0;
        transform: scale(5);
    }

    100% {
        opacity: 0;
        transform: scale(1);
    }
}