@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "./fontello/index.css";
@import "./map/index.css";
@import "maplibre-react-components/style.css";

@import "pentatrion-geo/style.css";
@import "./zIndex.css";

html {
  --sidebar-streetview-width: 50%;
  --sidebar-streetview-height: 50%;

  --sidebar-extra-height: 300px;
  --map-height: 100vh;
}

:root {
  --chart-poi-text-rotation: -40deg;
  --chart-poi-extra-opacity: 0;
}

@media (min-width: 768px) {
  :root {
    --chart-poi-text-rotation: -20deg;
    --chart-poi-extra-opacity: 0.5;
  }
}

body .bg-default {
  @apply bg-gray-1;
  background-image: conic-gradient(
    from 90deg at -10% 100%,
    #aaa 0deg,
    #aaa 90deg,
    #fff 1turn
  );
  background-attachment: fixed;
}

.dark .bg-default {
  background-image: none;
}
