@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "./fontello/index.css";
@import "./map/index.css";
@import "maplibre-react-components/style.css";

@import "pentatrion-geo/style.css";

html {
  --sidebar-streetview-width: 50%;
  --sidebar-streetview-height: 50%;

  --sidebar-extra-height: 200px;
}
