.ll-layer-switcher {
  z-index: 4;
}

.maplibregl-marker[data-shape="pin"] {
  z-index: 2;
}
.maplibregl-marker[data-shape="circle"] {
  z-index: 1;
}

.maplibregl-ctrl-bottom-left,
.maplibregl-ctrl-bottom-right,
.maplibregl-ctrl-top-left,
.maplibregl-ctrl-top-right {
  z-index: 3;
}
