.ll-dialog {
    $padding: .5rem;
    // position: relative;
    // background-color: white;
    // pointer-events: auto;

    // border-radius: var(--border-radius);
    // box-shadow: var(--shadow);
    // border-style: solid;

    .bar-buttons {
        padding: .25rem;
        float: right;
    }

    .header {
        display: flex;
        align-items: center;
        padding: $padding $padding 0;


    }

    .description {
        padding: $padding;

        &.scrollable {
            padding: $padding 0;

            .scroll-inner {
                padding: 0 $padding;
            }
        }
    }

    .footer {
        position: relative;
        z-index: 4;
        padding: 0 $padding $padding;

        .actions {
            display: flex;
            justify-content: space-between
        }
    }


    &.ll-select-dialog,
    &.ll-autocomplete-dialog {
        border-width: 0;
        overflow: auto;
        max-height: 300px;
    }





    // &.compact {
    //     .option {
    //         padding: 0.125rem .5rem .125rem .125rem;
    //     }
    // }

    .options-container {
        max-height: 200px;
        overflow: auto;
    }

}

.ll-portail-dialog {
    outline: none;
    z-index: 100;
}

.ll-portail-overlay {
    z-index: var(--zindex-overlay);
}