$color-names: "default", "gray", "hint", "disabled";

@each $color-name in $color-names {
    .color-#{$color-name} {
        color: var(--text-#{$color-name});
    }
}

$colors: "yellow", "green", "blue", "orange", "red", "gray";

@each $color in $colors {
    .color-#{$color} {
        color: var(--color-#{$color}-600);
    }

    .border-color-#{$color} {
        border-color: var(--color-#{$color}-300);
    }

}