$color-names: "default", "weak", "hint", "disabled";

@each $color-name in $color-names {
    .color-#{$color-name} {
        color: var(--text-#{$color-name});
    }
}

$colors: "primary", "success", "info", "warning", "danger", "weak";

@each $color in $colors {
    .color-#{$color} {
        color: var(--color-#{$color}-600);
    }

    .border-color-#{$color} {
        border-color: var(--color-#{$color}-300);
    }

}

$radius: "sm", "md", "lg", "xl";

@each $r in $radius {
    .rounded-#{$r} {
        border-radius: var(--border-radius-#{$r});
    }
}


$sizes: 1, 2, 3, 4, 8;

@each $size in $sizes {

    .p-#{$size} {
        padding: var(--space-#{$size});
    }

    .m-#{$size} {
        margin: var(--space-#{$size});
    }

    .ml-#{$size} {
        margin-left: var(--space-#{$size});
    }

    .mr-#{$size} {
        margin-right: var(--space-#{$size});
    }

    .gap-#{$size} {
        gap: var(--space-#{$size});
    }
}

.ml-auto {
    margin-left: auto;
}

.mr-auto {
    margin-right: auto;
}

.w100 {
    width: 100%;
}

.flex {
    display: flex;

    >* {
        min-height: 0;
        min-width: 0;
    }
}

.flex-column {
    flex-direction: column;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sticky-top {
    position: sticky;
    z-index: 1;
    top: 0;
}

.text-no-decoration {
    text-decoration: none;
}

.text-semibold {
    font-weight: var(--font-weight-semibold);
}

.text-bold {
    font-weight: var(--font-weight-bold);
}

.hidden {
    visibility: hidden;
}

.origin-top-right {
    transform-origin: top right;
}

.origin-top-left {
    transform-origin: top left;
}