.ll-indicator {
    width: 1px;
    height: 24px;
    background-color: var(--border-default);
}

.variant-ghost {
    .ll-indicator {
        background-color: transparent;
    }

    &:hover {
        .ll-indicator {
            background-color: var(--border-default);
        }
    }
}