html,
body,
#root,
#app {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

html {
    --sidebar-extra-width: 50%;
    --sidebar-extra-height: 50%;
    font-family: ui-sans-serif, system-ui, sans-serif;
    font-size: 1rem;
}

#app {
    display: flex;
}

#principal {
    flex: 1;
}

#extra {
    flex: 0 0 clamp(25vw, var(--sidebar-extra-width), calc(100vw - 400px - 1rem));
    position: relative;
    border-left: 1px solid var(--background-strong);
}

@media (max-width: 700px) {
    #app {
        flex-direction: column;
    }

    #extra {
        flex: 0 0 clamp(25vw, var(--sidebar-extra-height), 60vw);
        border-left: 0;
        border-top: 1px solid var(--background-strong);
    }
}

.ll-marker .marker .text {
    font-weight: 600;
    font-size: max(10px, var(--marker-size) * 0.3);
}

.maplibregl-ctrl-top-right {

    .maplibregl-ctrl {
        position: relative;
        width: 380px;
        transition: transform .3s ease;

        &.distraction-free {
            transform: translateX(calc(100% + .5rem));
        }
    }

    .ll-quick-settings {
        padding: var(--space-2);
    }

    @media (max-width: 700px) {
        left: 0;

        .maplibregl-ctrl {
            &:first-child {
                margin-top: 0;
            }

            margin-right: 0;
            width: 100%;

            &.distraction-free {
                transform: translateX(100%);
            }


        }
    }
}