html,
body,
#root,
#app {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

html {
    --sidebar-extra-width: 50%;
    font-family: ui-sans-serif, system-ui, sans-serif;
    font-size: 1rem;
}

#app {
    display: flex;
}

#principal {
    flex: 1;
}

#extra {
    flex: 0 0 var(--sidebar-extra-width);
    position: relative;
    border-left: 1px solid var(--background-strong);
}

.tabs-ctrl {
    width: 400px;

    .ll-tabs {
        margin: .25rem;
    }
}