.maplibregl-ctrl-tabs {
    width: 380px;
    position: relative;
    transition: transform .3s ease;

    &.distraction-free {
        transform: translateX(calc(100% + .5rem));
    }

    .tabs-list {
        .tabs-list-item button {
            padding: var(--space-2) 2rem;
        }
    }

    .tabs-content {
        max-height: calc(100vh - 39px - 1rem);
        overflow: auto;
    }

    .ll-quick-settings .actions>.help {
        width: 34px;
        flex: 0 0 34px;
    }

    .expand-all {
        position: absolute;
        top: 0px;
        right: 100%;

        @media (min-width: 700px) {
            top: -0.5rem;
        }

        button {
            padding: 1.25rem;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;


        }

        .logo {
            width: 32px;
            height: 32px;
            max-width: none;
        }
    }

    .ll-textarea.raw {
        min-height: 15rem;
    }
}

.maplibregl-ctrl-top-right {
    @media (max-width: 700px) {
        left: 0;

        .maplibregl-ctrl.maplibregl-ctrl-tabs {
            margin: 0;
            width: 100%;

            &.distraction-free {
                transform: translateX(100%);
            }
        }
    }
}