.maplibregl-ctrl-tabs {

    .tabs-list {
        .tabs-list-item button {
            padding: var(--space-2) 2rem;
        }
    }

    .tabs-content {
        max-height: calc(100vh - 39px - 1rem);
        overflow: auto;
    }

    .ll-quick-settings {
        padding: 0;
    }

    .expand-all {
        position: absolute;
        top: 0px;
        right: 100%;

        @media (min-width: 700px) {
            top: -0.5rem;
        }

        button {
            padding: 1.25rem;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;


        }

        .logo {
            width: 32px;
            height: 32px;
            max-width: none;
        }
    }

    .ll-textarea.raw {
        min-height: 15rem;
    }
}

.maplibregl-ctrl-top-right {
    @media (max-width: 700px) {

        .maplibregl-ctrl.maplibregl-ctrl-tabs {

            .ll-tabs {
                border-radius: 0;
            }
        }
    }
}