.ll-autocomplete-dialog {
    outline: none;
    overflow: auto;

    .option {

        &.search {
            display: flex;
            height: 64px;
            padding: 0;

            .icon {
                width: 64px;
                font-size: 2rem;
            }

            .content {
                padding: 0 .5rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }

            .hint {
                color: var(--text-hint);
                font-size: .9rem;
            }
        }
    }
}