.ll-autocomplete-dialog {
    outline: none;
    overflow: auto;

    .option {
        cursor: pointer;

        &.search {
            display: flex;
            height: 48px;
            padding: 0;

            .icon {
                width: 48px;
                font-size: 1.25rem;
            }

            .content {
                padding: 0 .5rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                font-size: var(--font-size-rg);
                flex: 1;
            }

            .context {
                color: var(--text-hint);
                font-size: var(--font-size-sm);
            }

            .type {
                height: 48px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: var(--text-hint);
                font-size: var(--font-size-sm);
                padding: .5rem;
                font-style: italic;
            }
        }
    }
}