.ll-tabs {
    box-shadow: var(--shadow);
    background: rgb(var(--color-gray-2));
    overflow: hidden;

    .tabs-list {
        display: flex;

        button:focus-visible {
            outline: 2px solid var(--button-focus-visible-border-color);
        }

        &.full-width .tabs-list-item {
            text-align: center;
            flex: 1 1 0;
        }

        .extra {
            margin-left: auto;
            display: flex;
            align-items: center;

            .ll-button {
                margin: 0 .25rem;
            }
        }
    }

    .tabs-list-item {
        border-top: 4px solid transparent;
        color: rgb(var(--color-text-2));
        transition: .3s ease;

        &.selected {
            border-top-color: var(--color-yellow-500);
            background: rgb(var(--color-gray-0));
        }

        &:hover,
        &.selected {
            color: rgb(var(--color-text-1));
        }

        button {
            width: 100%;
            padding: var(--space-2);
        }


    }

    .tabs-content {
        padding: var(--space-2);
        background: rgb(var(--color-gray-0));
        box-shadow: 0 0 10px #ccc;
    }
}