.ll-layer-switcher {
    display: flex;
    overflow-x: auto;
    pointer-events: all;

    .layer {
        width: 0;
        flex: 1 0 80px;
        max-width: 100px;
        border-radius: var(--border-radius-sm);
        display: flex;
        flex-direction: column;
        box-shadow: var(--shadow);
        padding: 5px 5px 0;
        margin: .25rem;
        background-color: var(--background-default);
        position: relative;

        &:hover,
        &.active {
            cursor: pointer;
            background-color: var(--color-primary);
        }
    }

    .type {
        position: absolute;
        top: 2px;
        left: 2px;
    }

    .preview {
        height: 54px;
        object-fit: cover;
        object-position: center;
    }

    .legend {
        overflow: hidden;
        text-align: center;
        max-height: 2.5rem;
        text-overflow: ellipsis;
    }
}