.ll-modal-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(40, 40, 40, .4);
    z-index: var(--zindex-overlay);
}

.ll-modal {
    width: 400px;
    max-width: 100%;
}