.maplibregl-cooperative-gesture-screen {
    align-items: center;
    background: rgba(0, 0, 0, .4);
    color: #fff;
    display: flex;
    font-size: 1.4em;
    inset: 0;
    justify-content: center;
    line-height: 1.2;
    opacity: 0;
    padding: 1rem;
    pointer-events: none;
    position: absolute;
    transition: opacity 1s ease 1s;
    z-index: 99999
}

.maplibregl-cooperative-gesture-screen.maplibregl-show {
    opacity: 1;
    transition: opacity .05s
}

.maplibregl-cooperative-gesture-screen .maplibregl-mobile-message {
    display: none
}

@media (hover:none),
(width <=480px) {
    .maplibregl-cooperative-gesture-screen .maplibregl-desktop-message {
        display: none
    }

    .maplibregl-cooperative-gesture-screen .maplibregl-mobile-message {
        display: block
    }
}