.maplibregl-ctrl-tabs {

    .search-selector {
        text-align: right;
        margin-bottom: .25rem;

        .ll-button {
            margin-left: .25rem;
        }
    }

    .property {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .ll-textarea.raw {
        min-height: 15rem;
    }

    .constraints {
        align-items: flex-start;

        .ll-input-checkbox-container {
            display: flex;

            span {
                margin-left: auto;
                order: 1;
                margin-right: 1rem;
            }

            input {
                order: 2
            }
        }
    }
}