.ll-button {

    &,
    &-placeholder {
        display: inline-block;
    }

    border-radius: var(--border-radius-md);
    border: 0;
    outline: none;
    cursor: pointer;
    background-color: var(--button-default-background-color);
    color: var(--button-default-text-color);
    transition: all .3s ease,
    outline 0s;
    position: relative;
    overflow: clip;
    line-height: 1.25rem;
    overflow-clip-margin: 1px;

    padding: .5rem 1rem;

    &.size-small {
        padding: .125rem .5rem;
        font-size: var(--font-size-sm);
        height: 1.5rem;
    }

    &.size-large {
        padding: 1rem 2rem;
    }

    &:focus {
        &.variant-contained {
            box-shadow: var(--shadow-md);
        }
    }

    &:hover {
        background-color: var(--button-hover-background-color);
        box-shadow: var(--shadow-light);

        &.variant-contained {
            box-shadow: var(--shadow-md);
        }

        &.variant-ghost {
            box-shadow: none;
        }
    }

    &:not(.variant-ghost) {

        &:active,
        &.selected {
            box-shadow: var(--shadow-light-md);
            background-color: var(--button-active-background-color);

            &.variant-contained {
                box-shadow: var(--shadow-lg);
            }
        }
    }

    &,
    &:hover,
    &:focus,
    &:focus-within,
    &:active {
        text-decoration: none;
    }


    &:hover {
        color: var(--button-hover-text-color);
    }

    &:active,
    &.selected {
        color: var(--button-active-text-color);
    }

    &.variant-contained {
        box-shadow: var(--shadow);
    }

    &.variant-outlined {
        outline: 1px solid var(--button-focus-visible-border-color);
    }

    &:focus-visible {
        outline: 2px solid var(--button-focus-visible-border-color);
    }

    &.not-cliquable {
        pointer-events: none;
        color: var(--text-gray, inherit);

        &[disabled] {
            opacity: .5;
        }
    }

    &.icon,
    &-placeholder.icon {
        width: 2rem;
        height: 2rem;
    }



    &.icon {
        padding: 0;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }

    &.with-icon {
        display: inline-flex;
        align-items: center;
        justify-content: center;

        i {
            margin-right: .25rem;
        }
    }

    &.with-prefix {
        padding-left: .25rem;
    }

    .ll-loader {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
}