.ll-card {
    border-radius: var(--border-radius-md);
    background-color: var(--background-light);
    padding: .5rem;
}

.ll-card-group {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}