.maplibregl-popup.ll-dialog {

    .maplibregl-popup-tip {
        z-index: 3;
    }

    &.maplibregl-popup-anchor-top-left .box {
        border-top-left-radius: 0;
    }

    &.maplibregl-popup-anchor-bottom-left .box {
        border-bottom-left-radius: 0;
    }

    &.maplibregl-popup-anchor-top-right .box {
        border-top-right-radius: 0;
    }

    &.maplibregl-popup-anchor-bottom-right .box {
        border-bottom-right-radius: 0;
    }
}