@import "pentatrion-design/fontello.css";

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "pentatrion-geo/fontello-geo-inline.css";
@import "pentatrion-geo/maplibre/Marker.css";
/* @import "./maplibregl-css/index.css"; */

html {
  --sidebar-extra-width: 50%;
  --sidebar-extra-height: 50%;
}

.ll-marker .marker .text {
  font-weight: 600;
  font-size: max(10px, var(--marker-size) * 0.3);
}

/* .maplibregl-ctrl-top-right {
  & .ll-quick-settings {
    padding: var(--space-2);
  }

  @media (max-width: 700px) {
    left: 0;

    & .maplibregl-ctrl {



      &.distraction-free {
        transform: translateX(100%);
      }
    }
  }
} */
