.ll-popup.ll-dialog {
    position: absolute;
    left: 0;
    top: 0;
    width: max-content;
    min-width: 150px;
    will-change: transform;

    &.unselectable {
        pointer-events: none;
        user-select: none;

        .box {
            pointer-events: none;
            user-select: none;
        }
    }
}