.ll-table {
    width: 100%;

    tr {
        border-bottom: 1px solid var(--border-default);
    }

    th {
        text-align: left;
        font-weight: var(--font-weight-bold);
    }

    td,
    th {
        padding: var(--space-2);
    }


    .cell-label {
        display: none;

    }

    --bp-medium: 910px;

    @media (max-width: 910px) {
        thead {
            display: none;
        }

        tr,
        td {
            display: block;
        }

        tr {
            padding: var(--space-2);
            border: 1px solid var(--border-default);
            border-radius: var(--border-radius-2xl);

            &:not(:last-child) {
                margin-bottom: var(--space-3);
            }
        }

        .cell-label {
            display: block;
            font-weight: var(--font-weight-medium);
            font-size: .9rem;
            color: var(--text-gray);
        }
    }
}